/* 
블럭 레벨 요소
1. 혼자 한 줄 다 차지한다.
2. 크기를 조절해서 위로 올라갈 공간이 충분한 것처럼 보이나, 올라가지 않는다. ( 줄바꿈 강제 적용 )
3. 크기 조절이 가능하다.

인라인 레벨 요소
1. 콘텐츠 크기만큼만 크기가 고정된다.
2. 공간이 충분하면 위로 올라온다. ( 줄바꿈 자체 조절 )
3. 크기 조절이 안 된다.

inline-block
- block처럼 크기 조절 가능, inline처럼 자체 줄바꿈 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 10px; */
}

.div {
  border: 1px solid #000;
}

.div-box, h1 {
  width: 100px;
}

span {
  display: inline-block;
  width: 100vw;
  height: 50vh;
  padding: 5px;
}

/* 
  vw, wh (뷰포트기준 단위) : 뷰의 크기에 따라 비율로 설정 단위 ( ~100까지 가능 )
  % : 부모 요소의 크기에 따라 비율로 설정 단위 ( 100% : 부모요소 영역 전체 )
*/
.div-parent {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
}

.div-child {
  border: 1px solid #e84d4d;
  width: 50vw;
  min-width: 400px;
}

/* 
  마진 중첩 현상 : 상하 관계에서 발생. 더 큰 쪽으로 합쳐짐.
  ( 위 요소의 마진 10px, 아래 요소 마진 40px 일 때, 40px 만 적용)
*/
.div-marign {
  margin: 20px;
  background-color: #e84d4d;
  /* 
    수평거리, 수직거리, 흐림정도, 번짐정도, 색상, 그림자 방향
    inset : 내부 그림자
  */
  box-shadow: 1px 1px 3px 3px #000 inset;
}