/* 고급 선택자 */

/* 후손 결합자 : 부모요소의 영역 하에 있는 요소 선택 */
/* 공백을 구분자로 요소를 선택 */
header span {
  color: blue;
}

/* 자식 결합자 : 부모요소의 영역 하에 있는 자식 요소 선택 */
/* '>'를 구분자로 요소를 선택 */
header > span {
  color:  red;
}

/* 인접 형제 결합자 : 첫번째 선택자 요소 바로 뒤에 나오는 형제 요소 선택 */
/* '+'를 구분자로 요소를 선택 */
header + span {
  color: green;
}

/* 일반 형제 결합자 : 첫번째 선택자 요소 이후에 나오는 모든 형제 요소 선택 */
/* '~'를 구분자로 요소 선택 */
header ~ p {
  color: rgb(226, 43, 226);
}

/* 속성선택자 (잘 안 씀) : 요소의 속성을 (속성명, 값 등)이용하여 특정 요소 선택 */
/* [속성명="속성값"] : 특정 속성이 있는 요소를 선택 */
[href=""] {
  font-size: 10px;
}

/* 가상선택자 : 요소의 상태에 따라 요소 선택 */
/* '선택자:가상클래스명' */

 /* link : 아직 방문하지 않은 링크 요소 선택 */
 a:link {
  color: black;
 }
 /* visited : 방문한 링크 요소 선택 */
 a:visited {
  color: red;
 }
 /* hover : 마우스 커서가 올라가있는 요소 선택 */
 a:hover {
  font-size: 1.5rem;
 }
 /* active : 클릭 중인 요소 선택 */
 a:active {
  background-color: brown;
 }
 /* focus : 포커스가 적용되어 있는 요소 선택 (포커스 되는 요소만 가능) */
 input:focus {
  border: 3px solid #ff0000;
  outline: none;
 }
 /* checked : 체크된 상태의 요소를 모두 선택 */
input:checked + label {
  background-color: cadetblue;
}
/* not(선택자) : '()'의 선택자 요소를 제외한 나머지 요소에 스타일 적용 */
header > :not(span) {
  text-decoration: underline;
}

/* nth-child(숫자) : 숫자번째의 자식요소 선택 */
/* .container :nth-child(3) {
  background-color: #ff0000;
} */

/* nth-child(n + 숫자) : 숫자번째의 자식요소 부터 전부 선택 */
/* .container :nth-child(n + 3) {
  background-color: #ff0000;
} */

/* nth-child(-n + 숫자) : 숫자번째의 자식요소 이전 전부 선택 */
/* .container :nth-child(-n + 3) {
  background-color: #ff0000;
} */

/* nth-child(n + 숫자1):nth-child(-n + 숫자2) : 숫자1 ~ 숫자2 선택 */
/* .container :nth-child(n + 3):nth-child(-n + 5) {
  background-color: #ff0000;
} */

/* nth-cild(odd | even) : 홀수 또는 짝수 번재 요소 선택 */
.container :nth-child(odd) {
  color: blue;
}

/* 선택자:nth-of-type(숫자) : 자식요소 중 선택자에 해당하는 요소 중 숫자번째 요소 선택 */
.container p:nth-of-type(2) {
  background-color: cadetblue;
}