* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* sidebar */
.sidebar {
  background-color: #ff3b49;
  color: #fff;
}
.sidebar a {
 color: #fff;
}
h1 {
  margin: 3rem auto;
  text-align: center;
}

/* side-menu 드롭박스 없는 버전 */
.side-menu {
  margin-bottom: 3rem;
}
.side-menu > li {
  padding: 0.2rem 1rem;
}
.side-menu > li:nth-child(1) {
  font-weight: 900;
  background-color: #ff5662;
  padding: 0.5rem 1rem;
}
.side-menu > li:not(:nth-child(1)):hover {
  background-color: black;
  /* 변화 주는 속성 */
  transition: all 1.5s;
}
.side-menu a {
  width: 100%;
  display: inline-block;
}
/* .side-menu > li > a {
  width: 100%;
  display: inline-block;
}
.menu-dropbox > li > a {
    width: 100%;
  display: inline-block;
} */

/* side-menu 드롭박스 있는 버전 */
.side-menu > h2 {
  font-size: 1rem;
  font-weight: 900;
  background-color: #ff5662;
  padding: 0.5rem 1rem;
}
.menu-dropbox > li {
  padding: 0.2rem 1rem;
}
.menu-dropbox > li:hover {
  background-color: black;
  transition: all 1.5s;
}

/* 드롭박스 */
#menu-dropbox-01-flg{
  display: none;
}
#menu-dropbox-01-flg:checked + .menu-dropbox {
  display: block;
}
.menu-dropbox {
  display: none;
}
.side-menu > h2 > label {
  display: block;
  width: 100%;
}

/* main */

/* searchbar */
.main {
  background-color: #e1e1e1;
}

.search-bar {
  height: 50px;
}
.search-bar > form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 1rem;
}

#search {
  width: 80%;
  height: 40px;
}

.btn-search-submit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #6e5af0;
  font-weight: 900;
  font-size: 1.5rem;
  color: #fff;
}

/* signboard */
.signboard {
  height: 300px;
  background-image: url('./img/main_title.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signboard-title {
  font-size: 3rem;
  color: #fff;
}

/* main-content */
.main-content {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background-color: #fff;
  padding: 1rem;
}
.card-img {
  /* 각 이미지는 html에서 각 태그의 stlye로 지정한다. CSS에서 각각 이미지를 관리하기엔 비효율적. */
  padding-top: 150%; /* 패딩의 값은 width의 %. width값이 계속 변화 중이므로 height를 width의 %로 지정(padding-top 이용)해서 일정 비율을 유지.  */
  background-size: cover;
  background-repeat: no-repeat;
}
.card > h3 {
  margin: 1rem 0;
}

/* 기타 */
/* 최상단 이동 버튼 */
/* <a>는 인라인레벨 이므로 height, width값을 지정할 수 없음. <button> 사용. */
.btn-move-top {
  width: 50px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  position: fixed;
  right: 50px;
  bottom: 50px;
}